<a href="https://colab.research.google.com/github/keunsooyoon/ai/blob/main/Day1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [10]:
############## 
# 주석 comment
##############

''' 
작성자 : 홍길동
작성일 : 2022-01-25
버전 : 0.1
'''

""" 
작성자 : 홍길동
작성일 : 2022-01-25
버전 : 0.1
Doc String
"""

# 보통 삼중 따옴표 주석은 
# 여러줄을 주석으로 
# 사용할 때 사용한다. 


# 주석 붙이는 위치 
print("Hello World") # 보통 행의 우측 또는 위에 주석을 붙인다.

Hello World

In [15]:
############## 
# 변수 Variable
##############

score = 200

print(score)

score = 300

print(score)

200
300

In [16]:
a = 1
A = 2

print(a)
print(A)

1
2

In [17]:
a1 = 'hi'
print(a1)

hi

In [18]:
1a = 'hi'
print(1a)

SyntaxError: ignored

In [ ]:
a = 20
b = 1500

student_avg = 20
math_sum = 1500

In [22]:
############## 
# 기본 자료형 type
##############

a = int(1.9)
print(a)

b = int(True)
print(b)

c = int(False)
print(c)

1
1
0

In [29]:
a = 100
b = '100'

print(type(a))
print(type(b))

print(a)
print(b)
print(a==b)

c = int(b)
print(type(c))
print(a==c)

<class 'int'>
<class 'str'>
100
100
False
<class 'int'>
True

In [33]:
# 실수 float

a = float(1)
print(a)

b = float(True)
print(b)

c = float('3.14')
print(c)

d = float('100')
print(d)

1.0
1.0
3.14
100.0

In [40]:
# bool 논리 True or False

a = bool(0)
print(a)

b = bool()
print(b)

c = bool([])
print(c)

d = bool([100])
print(d)

False
False
False
True

In [44]:

##################
#문자열 String
#################

a = '대한민국'
a = "대한민국"

b = str(100)
print(b)
print(type(b))

c = str(True)
print(c)
print(type(c))

100
<class 'str'>
True
<class 'str'>

In [49]:
# 문자열 인덱싱 


# hello     파이썬은 0에서 시작한다. 

s = 'Hello'
print(s[4])

print(s[-1])
print(s[-5] == s[0])

ss = "990211-1005432"
print(ss[7])

o
o
True
1

In [52]:
ss = "990211-1005432"
print(ss[0:2]) # 0 번째 부터 2번째 미만까지..[start:stop:step]
print(ss[0:2]) # step 은 생략 가능...
print(ss[0:10:2])  # step 은 생략 가능...

99
99
901-0

In [54]:
# print

print('Hello 'World'')

SyntaxError: ignored

In [55]:
print("Hello 'World'")

Hello 'World'

In [59]:
print('Hello \'World\'')
print("Hello \"World\"")
print('Hello "World"')

Hello 'World'
Hello "World"
Hello "World"

In [61]:
print('Hello \n"World"')

Hello
"World"

In [63]:
print("이름  \n전화")

이름
전화

In [65]:
print('이름\t연락처')
print('홍길동\t010-2020-2903')

이름	연락처
홍길동	010-2020-2903

In [66]:
print('재미있는 ','파이썬')

재미있는  파이썬

In [68]:
print('평점', end=':')
print('5점')

평점:5점

In [74]:
print('국어','영어','수학')
print('국어','영어','수학', sep = '/')
print('국어','영어','수학', sep = ', ')
print('국어','영어','수학', sep = '\n')
print('\n국어\n영어\n수학')

국어 영어 수학
국어/영어/수학
국어, 영어, 수학
국어
영어
수학

국어
영어
수학

In [87]:
# %연산자

print(10)
print('%d' % 10)     # %d decimal 정수
print('%f' % 3.14)   # %f float 실수
print('%s' % '학생') # %s string 문자열

print('%d 을 입력하세요' % 10)   
print('%s 을 입력하세요' % 10)
print('원주율은 %f 입니다.' % 3.14)   
print('원주율은 %s 입니다.' % 3.14)   
std = "대학생"
print('저는 %s입니다.' % std) 
print('저는', std, '입니다.')

10
10
3.140000
학생
10 을 입력하세요
10 을 입력하세요
원주율은 3.140000 입니다.
원주율은 3.14 입니다.
저는 대학생입니다.
저는 대학생 입니다.

In [92]:
print("%d" % 1)
print("%5d" % 1)
print("%-5d" % 1)
print("%5d" % 11)
print("%-5d" % 11)

1
    1
1
   11
11

In [101]:
print('원주율은 %f 입니다.' % 3.14)   
print('원주율은 %5.1f 입니다.' % 3.14)   
print('원주율은 %-5.1f 입니다.' % 3.14)  
print('원주율은 %.2f입니다.' % 3.14)

원주율은 3.140000 입니다.
원주율은   3.1 입니다.
원주율은 3.1   입니다.
원주율은 3.14입니다.

In [102]:
name = 'kai'
print('내 이름은 %s입니다.' % name)

내 이름은 kai입니다.

In [110]:
height = 185.5
print('내 키는 %.1f입니다.' % height)
print('내 키는 %s입니다.' % height)
print('내 키는 %s이고 이름은 %s입니다.' % (height, name))
print('내 키는 {}이고 이름은 {}입니다.'.format(height, name))

내 키는 185.5입니다.
내 키는 185.5입니다.
내 키는 185.5이고 이름은 kai입니다.
내 키는 185.5이고 이름은 kai입니다.

In [107]:
# format() 

zipcode = '06236'
print('우편번호 : %s' % zipcode)
print('우편번호 : {}'.format(zipcode))

우편번호 : 06236
우편번호 : 06236

In [114]:
print('My name is {}. I\'m {} years old.'.format('James', 25))
print('My name is {1}. I\'m {0} years old.'.format(25, 'James'))
print('My name is {name}. I\'m {age} years old.'.format(age=25, name='James'))

My name is James. I'm 25 years old.
My name is James. I'm 25 years old.
My name is James. I'm 25 years old.

In [115]:
# f-strings
# 파이썬 3.6 이후 부터 사용 가능

who = 'you'
how = 'happy'
print(f'{who} make me {how}')

you make me happy

In [116]:
age = 25
print(f'내년에는 {age+1} 입니다.')

내년에는 26 입니다.

In [120]:
############## 
# 입력 input()
##############

n = input()
print(f'당신이 입력한 내용은 {n} 입니다.')
print('당신이 입력한 내용은', n ,'입니다.')

3124
당신이 입력한 내용은 3124 입니다.
당신이 입력한 내용은 3124 입니다.

In [122]:
n = input('당신의 나이를 입력하세요 ')
print(f'당신의 나이는 {n} 입니다.')
print('당신의 나이는', n ,'입니다.')

당신의 나이를 입력하세요 20
당신의 나이는 20 입니다.
당신의 나이는 20 입니다.

In [128]:
name = input('당신의 이름을 입력하세요 ')
age = int(input('당신의 나이를 입력하세요 '))

# 1 기본
print('당신의 이름은', name, '이고 나이는', age, '입니다.')
# 2 f-string
print(f'당신의 이름은 {name}이고 나이는 {age}입니다.')
# 3 format()
print('당신의 이름은 {}이고 나이는 {}입니다.'.format(name, age))
# 4 % 연산자
print('당신의 이름은 %s이고 나이는 %d입니다.' % (name, age))

print(name, type(name))
print(age, type(age))

당신의 이름을 입력하세요 홍길동
당신의 나이를 입력하세요 20
당신의 이름은 홍길동 이고 나이는 20 입니다.
당신의 이름은 홍길동 이고 나이는 20 입니다.
당신의 이름은 홍길동 이고 나이는 20 입니다.
당신의 이름은 홍길동 이고 나이는 20 입니다.
홍길동 <class 'str'>
20 <class 'int'>

In [131]:
month = int(input('할부 개월 입력 : '))
sum = 50000
monthly = round(sum/month,2)

# 1 기본
print(month,'개월 동안 매달 내는 금액은',monthly ,'입니다.')
# 2 f-string
print(f'{month}개월 동안 매달 내는 금액은 {monthly} 입니다.')
# 3 format()
print('{}개월 동안 매달 내는 금액은 {} 입니다.'.format(month, monthly))
# 4 % 연산자
print('%d개월 동안 매달 내는 금액은 %s 입니다.' % (month, monthly))



# done

할부 개월 입력 : 3
3 개월 동안 매달 내는 금액은 16666.67 입니다.
3개월 동안 매달 내는 금액은 16666.67 입니다.
3개월 동안 매달 내는 금액은 16666.67 입니다.
3개월 동안 매달 내는 금액은 16666.67 입니다.