<a href="https://colab.research.google.com/github/keunsooyoon/ai/blob/main/Naver_Movie_Crawling.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
# 네이버 영화 순위 

import requests                      # 웹상에서 인터넷 연결
from bs4 import BeautifulSoup as bs  # 데이터 정제
import pandas as pd                  # 데이터 분석

In [15]:
html = requests.get('https://movie.naver.com/movie/sdb/rank/rmovie.naver?sel=cur&date=20220217')
soup = bs(html.text)

In [16]:
len(soup.select('tr'))

34

In [17]:
len(soup.select('td.title'))

27

In [18]:
movies = soup.select('td.title')

In [19]:
movies[0]

<td class="title">
<div class="tit5">
<a href="/movie/bi/mi/basic.naver?code=151196" title="원더">원더</a>
</div>
</td>

In [20]:
movies[0].text

'\n\n원더\n\n'

In [21]:
movies[0].text.strip()

'원더'

In [22]:
points = soup.select('td.point')

In [23]:
points[0]

In [24]:
points[0].text

'9.53'

In [25]:
movielist = []
rank  = 1

movies = soup.select('td.title')
points = soup.select('td.point')

for each in range(len(soup.select('td.title'))):
  title = movies[each].text.strip()
  point = points[each].text.strip()
  movielist.append([rank, title, point])
  rank += 1
  
movielist

[[1, '원더', '9.53'],
 [2, '씽2게더', '9.42'],
 [3, '타오르는 여인의 초상', '9.04'],
 [4, '스파이더맨: 노 웨이 홈', '8.87'],
 [5, '마미', '8.68'],
 [6, '귀향', '8.68'],
 [7, '라라랜드', '8.62'],
 [8, '캐롤', '8.61'],
 [9, '드라이브 마이 카', '8.56'],
 [10, '나쁜 교육', '8.46'],
 [11, '그녀에게', '8.46'],
 [12, '어나더 라운드', '8.26'],
 [13, '언차티드', '7.99'],
 [14, '프렌치 디스패치', '7.99'],
 [15, '킹스맨: 퍼스트 에이전트', '7.98'],
 [16, '듄', '7.97'],
 [17, '하우스 오브 구찌', '7.92'],
 [18, '나일 강의 죽음', '7.87'],
 [19, '특송', '7.79'],
 [20, '킹메이커', '7.50'],
 [21, '단지 세상의 끝', '7.49'],
 [22, '경관의 피', '7.34'],
 [23, '해리 포터와 불사조 기사단', '7.03'],
 [24, '나의 촛불', '6.59'],
 [25, '웨스트 사이드 스토리', '6.58'],
 [26, '355', '6.43'],
 [27, '해적: 도깨비 깃발', '6.22']]

In [26]:
df = pd.DataFrame(movielist, columns = ['순위','제목','평점'])
df

    순위              제목    평점
0    1              원더  9.53
1    2            씽2게더  9.42
2    3     타오르는 여인의 초상  9.04
3    4   스파이더맨: 노 웨이 홈  8.87
4    5              마미  8.68
5    6              귀향  8.68
6    7            라라랜드  8.62
7    8              캐롤  8.61
8    9       드라이브 마이 카  8.56
9   10           나쁜 교육  8.46
10  11            그녀에게  8.46
11  12         어나더 라운드  8.26
12  13            언차티드  7.99
13  14        프렌치 디스패치  7.99
14  15   킹스맨: 퍼스트 에이전트  7.98
15  16               듄  7.97
16  17       하우스 오브 구찌  7.92
17  18        나일 강의 죽음  7.87
18  19              특송  7.79
19  20            킹메이커  7.50
20  21        단지 세상의 끝  7.49
21  22           경관의 피  7.34
22  23  해리 포터와 불사조 기사단  7.03
23  24           나의 촛불  6.59
24  25     웨스트 사이드 스토리  6.58
25  26             355  6.43
26  27      해적: 도깨비 깃발  6.22

In [27]:
df.to_excel('NaverMovie.xlsx', index=False)

In [28]:
df.to_excel("Movielist.xlsx",index=False)